<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.ximoon.framework"
>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application android:allowBackup="true"
                 android:supportsRtl="true"
    >

        <receiver android:name=".net.NetChangeBroadcastReceiver">
            <intent-filter >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
